# Configuración del Servidor
PORT=3000
APP_URL=http://localhost:3000

# Base de Datos PostgreSQL
DB_USER=postgres
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bd_contacto

# Seguridad JWT (Sesión de 30 minutos)
JWT_SECRET=clave_secreta_super_segura_contactos_jwt_2026_sena

# Configuración de Correo Electrónico (SMTP)
# Si no se configuran, los correos se mostrarán detallados en la consola del servidor (modo desarrollo)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_contrasena_de_aplicacion
EMAIL_FROM="Sistema de Contactos <no-reply@contactos.com>"
